@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@700&family=Roboto:wght@500;900&display=swap');
:root{ 
    --roboto: "Roboto", sans-serif; 
}
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.flex{ 
    display: flex;
}
.container{ 
    width: 1170px;
    margin: 0 auto;
    outline: 1px solid red;  
    padding: 0 30px;
}
a{ 
    text-decoration: none;
    color: inherit;
}
ul{ 
    list-style-type: none;
}

.header{ 
    background: #fff;
}
.nav-bar{ 
    justify-content: space-between;
    align-items: center;
}
.nav-bar-lists{ 
    justify-content: space-between;
    gap: 300px;
}
.list-contacts, .list-pages{ 
    gap: 50px;
}
.list-pages-item, .list-contacts-item{ 
    color: rgb(33, 33, 33);
    font-family: var(--roboto);
    font-size: 14px;
    font-weight: 500;
    line-height: 16px;
    letter-spacing: 2%;
    text-align: left;
}
.list-contacts-item:hover, .list-pages-item:hover{ 
    color: rgb(33, 150, 243);
    cursor: pointer;
}
.mail-before::before{ 
    content: url(img/mail.svg);
}
.tel-before::before{ 
    content: url(img/tel.svg);
}


/* ====== Section hero =====  */
.section-hero{
    padding-top: 200px;
    height: 600px; 
    background: url(img/section-hero-back.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
h1{
    color: rgb(255, 255, 255);
    font-family: var(--roboto);
    font-size: 44px;
    font-weight: 900;
    line-height: 60px;
    letter-spacing: 6%;
    text-align: center;
    text-transform: uppercase;
}
.button-wrapper{ 
    margin-top: 40px;
    justify-content: center;
}
.main-button{ 
    padding: 10px 32px;
    border: none;
    border-radius: 4px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    background: rgb(33, 150, 243);
    color: rgb(255, 255, 255);
    font-family: var(--roboto);
    font-size: 16px;
    font-weight: 700;
    line-height: 30px;
    letter-spacing: 6%;
    text-align: center;
}
.main-button:hover{ 
    background-color: rgb(89, 167, 231);
    cursor: pointer;
}

/* ====Section - 2 ====  */
.our-adventages{ 
    margin-top: 100px;
}
.our-adventages-list{ 
    justify-content: space-around;
    align-items: center;
    padding: 0;
}
.our-adventages-list-inner{ 
    flex-direction: column;
    padding: 0;
}
.svg{
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    background: rgb(245, 244, 250);
    width: 270px;
    height: 120px;
}
.our-adventages-list-inner li h3{
    margin-top: 30px;
    color: rgb(33, 33, 33);
    font-family: var(--roboto);
    font-size: 14px;
    font-weight: 700;
    line-height: 16px;
    letter-spacing: 3%;
    text-align: left;
    text-transform: uppercase;
}
.our-adventages-list-inner li p{ 
    margin-top: 10px;
    color: rgb(117, 117, 117);
    font-family: var(--roboto);
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 3%;
    text-align: left;
}
.what-we-do{ 
    margin-top: 100px;
}
.what-we-do h2{ 
    color: rgb(33, 33, 33);
    font-family: var(--roboto);
    font-size: 36px;
    font-weight: 700;
    line-height: 42px;
    letter-spacing: 3%;
    text-align: center;
}
.what-we-do-list{ 
    gap: 30px;
    margin-bottom: 100px;
}
.what-we-do-list-item{ 
    width: 370px;
    height: 294px;
    position: relative;
}
#what-we-do-1, #what-we-do-2, #what-we-do-3{ 
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
#what-we-do-1{ 
    background: url(/img/coding.png) ;
}
#what-we-do-2{ 
    background: url(/img/mobile-app.png);
}
#what-we-do-3{ 
    background: url(/img/colors.png);
}
.what-we-do-list-item div{
    background: rgba(47, 48, 58, 0.8);
    width: 357px;
    height: 70px;
    position: absolute;
    bottom: 0;
    align-items: center;
    justify-content: center;
}
.what-we-do-list-item div h4{ 
    padding: 0;
    color: rgb(255, 255, 255);
    font-family: var(--roboto);
    font-size: 14px;
    font-weight: 700;
    line-height: 16px;
    letter-spacing: 3%;
    text-align: center;
    text-transform: uppercase;
}


/* ==== Section 3 ====  */
.section-our-team{ 
    padding-top: 100px;
    background: rgb(245, 244, 250);
}
.section-our-team .container h2{ 
    color: rgb(33, 33, 33);
    font-family: var(--roboto);
    font-size: 36px;
    font-weight: 700;
    line-height: 42px;
    letter-spacing: 3%;
    text-align: center;
}
.our-team-list{ 
    gap: 30px;
    padding: 0;
}
.our-team-list-item{ 
    width: 270px;
    height: 428px;  
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2),0px 1px 1px 0px rgba(0, 0, 0, 0.14),0px 1px 3px 0px rgba(0, 0, 0, 0.12);
    background: rgb(255, 255, 255);
}
.our-team-list-item img{ 
    width: 270px;
    height: 260px;
}
.our-team-list-item h3{ 
    color: rgb(33, 33, 33);
    font-family: var(--roboto);
    font-size: 16px;
    font-weight: 500;
    line-height: 19px;
    letter-spacing: 3%;
    text-align: center;
    padding: 0;
    margin-top: 30px;
}   
.our-team-list-item p{ 
    color: rgb(117, 117, 117);
    font-family: var(--roboto);
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 3%;
    text-align: center;
    padding: 0;
    margin-top: 10px;
}
.list-social-networks{ 
    padding: 0;
    gap: 10px;
    justify-content: space-around;
    margin-top: 16px;
}
.list-social-networks li{ 
    width: 44px;
    height: 44px;
    justify-content: center;
    align-items: center;
}
.list-social-networks li:hover{ 
    background: rgb(33, 150, 243);
    border-radius: 50%;
}
.list-social-networks li img{ 
    width: 20px;
    height: 20px;
}

/* ==== Section-4 ====  */
.section-regular-customers{ 
    margin-top: 100px;
}
.section-regular-customers .container h2{ 
    color: rgb(33, 33, 33);
    font-family: var(--roboto);
    font-size: 36px;
    font-weight: 700;
    line-height: 42px;
    letter-spacing: 3%;
    text-align: center;
}
.regular-customers-list{ 
    gap: 30px;
}
.regular-customers-list-item{ 
    display: flex;
    justify-content: center;
    align-items: center;
    width: 170px;
    height: 92px;
    box-sizing: border-box;
    border: 1px solid rgb(175, 177, 184);
    border-radius: 4px;
}
.regular-customers-list-item:hover{ 
    border: 1px solid rgb(89, 167, 231);
}


/* ==== Footer ==== */
footer{ 
    background: rgb(47, 48, 58);
    height: 252px;
    margin-top: 100px;
}
.footer-wrapper{ 
    gap: 70px;
    padding-top: 72px;
}
address{ 
    margin-top: 20px;
    color: rgb(255, 255, 255);
    font-family: var(--roboto);
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 3%;
    text-align: left;
}
.footer-contacts{ 
    flex-direction: column;
    padding: 0;
    gap: 10px;
}
.footer-contacts-item{
    color: rgba(255, 255, 255, 0.6);
    font-family: var(--roboto);
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 3%;
    text-align: left;
}
.footer-right h3{ 
    padding: 0;
    margin: 0;
    color: rgb(255, 255, 255);
    font-family: var(--roboto);
    font-size: 14px;
    font-weight: 700;
    line-height: 16px;
    letter-spacing: 3%;
    text-align: left;
    text-transform: uppercase;
}
.list-social-networks-footer{   
    gap: 10px;
    padding: 0;
}
.list-social-networks-footer li{
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.1);
}
.list-social-networks-footer li:hover{ 
    background: rgb(33, 150, 243);
}

/* ================== PORTFOLIO PAGE ===================  */
main{
    margin-top: 100px;
}
.buttons-list-wrapper{ 
    justify-content: center;
    align-items: center;
}
.buttons-list{ 
    gap: 8px;
}
.buttons-list-item button{ 
    height: 38px;
    background: rgb(245, 244, 250);
    color: rgb(33, 33, 33); 
    font-family: var(--roboto);
    font-size: 16px;
    font-weight: 500;
    line-height: 26px;
    letter-spacing: 3%;
    text-align: center;
    border-radius: 4px;
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12),0px 1px 2px 0px rgba(0, 0, 0, 0.08),0px 3px 1px 0px rgba(0, 0, 0, 0.1);
    border: none;
}
.buttons-list-item button:hover{ 
    color: rgb(255, 255, 255);
    background: rgb(33, 150, 243);
}
.card-list{ 
    flex-wrap: wrap;
    gap: 30px;
    padding: 0;
}
.card-list-item{ 
    width: 370px;
    height: 404px;
    box-sizing: border-box;
    border-bottom: 1px solid rgb(238, 238, 238);
    border-left: 1px solid rgb(238, 238, 238);
    border-right: 1px solid rgb(238, 238, 238);
    box-shadow: 1px 4px 6px 0px rgba(0, 0, 0, 0.16),0px 4px 4px 0px rgba(0, 0, 0, 0.06),0px 1px 1px 0px rgba(0, 0, 0, 0.12);
    background: rgb(255, 255, 255);
}
.card-list-item h3{ 
    padding: 0;
    padding-left: 20px;
    margin-top: 20px;
    color: rgb(33, 33, 33);
    font-family: var(--roboto);
    font-size: 18px;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: 6%;
    text-align: left;
}
.card-list-item p{ 
    padding: 0;
    padding-left: 20px;
    margin-top: 4px;
    margin-bottom: 20px;
    color: rgb(117, 117, 117);
    font-family: var(--roboto);
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 3%;
    text-align: left;
}